<html>
<body>
  <head>
    <title>Customize Players</title>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  </head>
  <body>
    <div ng-controller="playersController">
        <form name="playersForm">
          First Name:
          <input type='text' name='name' ng-model='newPlayer.name' ng-minlength='3' placeholder="name">
          <input type='submit' value="Add Player" ng-click='addPlayer()'>
        </form>
        <table border=1>
          <thead>
            <tr>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="player in players track by $index">
              <td ng-bind="player.name"></td>
              <td><button ng-click='deletePlayer(player)'>Delete Player</button></td>
            </tr>
          <tbody>
        </table>
        <div ng-messages="playersForm.name.$error">
          <p ng-message="minlength">The player's name is too short.</p>
          <!-- <p ng-message="required">The player's name is required.</p> -->
        </div>
    </div> <!--end of customizeUsersController -->
  </body>
</html>
