<html ng-app="friends_app">
<head>
  <title>Full Mean Demo</title>
      <script src="angular.js"></script>
      <script src="angular-route.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
      <script type='text/javascript'>

      var friends_app = angular.module('friends_app', ['ngRoute', 'ngMessages']);

          // create the FriendFactory
          friends_app.factory('FriendFactory', function($http) {
            var factory = {};
            var friends = [];
            //Restful syntax: index = get all that object
            factory.getFriends = function(callback) {
              //console.log("http get friends called");
              $http.get('/friends').success(function(output) {
                friends = output;
                console.log("friends: " + friends);
                callback(friends);
              })
            }

            factory.create = function(info, callback) {
            //console.log("post data in factory", info);
            //friends.push({name: info.name, age: info.age});
              $http.post('/addFriend', info).success(function(data){
                console.log("new friend", info);
                callback(info);
                //friends.push({name: info.name, age: info.age});
              })
            }
            factory.deleteFriend = function(friend, callback) {
              console.log("http post delete friend");
              //console.log("delete", friend);
              $http.delete('deleteFriend/' + friend._id).success(function(){
                friends.splice(friends.indexOf(friend), 1);
                console.log("friend", friend);
                //factory.getFriends(callback);
                callback(friends);
              })
            }

            return factory;
          });

          friends_app.controller('FriendsController', function($scope, FriendFactory) {

            FriendFactory.getFriends(function(data){
              //console.log("data", data);
              $scope.friends = data;
            });

          $scope.addfriend = function() {
            console.log("add friend");
            FriendFactory.create($scope.new_friend, function(info) {
                //console.log("scppe friend", $scope.friends);
                //console.log("data from factory", post_data);
                $scope.friends.push(info);

                $scope.new_friend = {};
              });
            }
          $scope.deleteFriend = function(friend) {
            //console.log("delete friend called");
            //console.log("friendObj=", friend);
            FriendFactory.deleteFriend(friend, function(){
              FriendFactory.getFriends(function(data){
                console.log("get friends called");
                $scope.friends = data;
                //console.log($scope.friends);
              });
              //console.log(friend, "deleted");
            });
          }


      });

      </script>
</head>
  <body ng-controller="FriendsController">
      <h1>Friends</h1>
      <input type="text" ng-model="filter_name" placeholder="filter">
        {{filter_name}}
    <table border=1>
      <thead>
        <th>Name</th>
        <th>Age</th>
        <th>Action</th>
      <thead>
      <tbody>
        <tr ng-repeat="friend in friends | filter: filter_name">
        <td ng-bind="friend.name"></td>
        <td ng-bind="friend.age"></td>
        <td><input type="submit" value="delete" ng-click="deleteFriend(friend)"></td>
      </tbody>
    </table>
      <h1>Add a Friend</h1>
      <!-- objects and properties nothing scary -->
      <input type="text" ng-model="new_friend.name" placeholder="name">
      <input type="text" ng-model="new_friend.age" placeholder="age">
      <!-- addfriend() is a method we are going to make in the angular controller -->
      <input type="submit" ng-click="addfriend()">
    </body>
</html>
