<html>
<body>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="row section" ng-controller="productsController">
    <div class="col s3">
      <input type="text" name="name" value="" ng-model="product_filter">
      <button type="button" name="button">Filter</button>
    </div>
    <div class="col s9">
      <div div class="col s3" ng-repeat="product in products | limitTo:3  | filter:product_filter">
        <img src="{{product.image}}" alt="{{product.name}}" width="100" height="100" />
        <p>
          {{product.name}}<br>
          ({{product.quantity}} available)
        </p>
      </div>
      <p>
        <a href="#/products">Show all products...</a>
      </p>
      </div>
    </div>

  <div class="row section" ng-controller="ordersController">
    <h4>Recent Orders</h4>
    <p ng-repeat="order in orders | limitTo:3 | orderBy : reverse : 'created_at' ">
      {{ order._customer.name }} purchased {{ order.quantity }} {{ order._product.name }} ({{ order.created_at  | date   : "medium" }})
    </p>
    <p>
      <a href="#/orders">Show all orders...</a>
    </p>
  <div class="row section" ng-controller="customersController">
    <h4>New Customers</h4>
    <p ng-repeat="customer in customers | limitTo:3  | orderBy : reverse : 'customer.created_at' ">
      {{ customer.name }} joined the store ({{ customer.created_at | date : "medium" }})
    </p>
    <p>
      <a href="#/customers">Show all customers...</a>
    </p>
  </div>
  </body>
</html>
