<html>
<body>
  <head>
    <title>Orders</title>
  <body>
    <div ng-controller="ordersController" class="row section">
      <!-- {{customers}} -->
      <!-- {{products}} -->
      <p><u>Add a new order</u></p>
        <div class="input-field col s4">
            <form name="orderForm">
              <div class="input-field col s12">
                <label>Customer</label>
                <select ng-model="new_order.customer" class="browser-default" >
                  <!-- <option value="" disabled selected>Choose a customer</option> -->
                  <option ng-repeat="customer in customers" value="{{customer._id}}" ng-bind="customer.name"></option>
                </select>
              </div>
              <div class="input-field col s12">
                <label>Quantity</label>
                <input type="number" ng-model="new_order.quantity" name="quantity" min="1">
                <!-- <input type="hidden" name="player" ng-value="selectedPlayer"> -->
              </div>
              <div class="input-field col s12">
                <label>Product</label>
                <select ng-model="new_order.product" class="browser-default">
                  <!-- <option value="" disabled selected>Choose a product</option> -->
                  <option ng-repeat="product in products" value="{{product._id}}" ng-bind="product.name"></option>
                </select>
              </div>
              <div class="input-field col s12">
                <input type='submit' value="Order" ng-click='create()'>
              </div>
            </form>
        </div>

        <input type="text" ng-model="customer_filter" placeholder="search by customer">
        <table border=1>
          <thead>
            <tr>
              <th>Customer Name</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="order in orders | filter: customer_filter | orderBy: created_at">
              <td ng-bind="order._customer.name"></td>
              <td ng-bind="order._product.name"></td>
              <td ng-bind="order.quantity"></td>
              <td ng-bind="order.created_at | date : format : timezone"></td>
            </tr>
          <tbody>
        </table>
    </div> <!--end of Controller -->

  </body>
</html>
