<html>
<body>
  <head>
    <title>Products</title>
  </head>
  <body>
    <div ng-controller="productsController">
    <div class="container">

        <h1>Products</h1>
        <hr>
        <p>Add a new product</p>
        <input type="text" ng-model="new_product.name" placeholder="name">
        <input type="submit" ng-click="create()">
    </div>
    <div class="container">
      <input type="text" ng-model="filter_name" placeholder="filter">
        {{filter_name}}
        <p>{{message}}</p>
      <table>
        <thead>
          <th>Customer Name</th>
          <th>Created at</th>
          <th>Action</th>
        <thead>
        <tbody>
          {{friends}}
          <tr ng-repeat="product in products | filter: filter_name">
            <td ng-bind="product.name"></td>
            <td ng-bind="product.created_at"></td>
            <td><button ng-click="delete(product._id)">Delete</button> | <button ng-click="updateProduct(product)">Update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> <!-- end of controller-->
  </body>
</html>
